.navbar{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-left: 20px 170px; */
    
    /* background: linear-gradient(150deg, #fff,#ebb577); */

}

.profile_logo{
    width: 40px;
    height: 40px;
    border-radius: 35px;
    margin-left: 20px;
    margin-top: 10px;
}


.nav-menu {
    display: flex;
   cursor: pointer;
    list-style: none;
    font-size: 20px;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}


.anchor-link{
    text-decoration: none;
    color: #fff;
}

.nav-connect{
padding: 10px 25px;
border-radius: 50px;
background: linear-gradient(#fff, #23e6ab);
font-size: 22px;
cursor: pointer;
transition: 0.5s;
margin-right: 20px;
margin-top: 10px;
color: black;
}

.nav-connect:hover{
    transform: scale(1.05);
}

.nav-mob-close{
    display: none;
}

.nav-mob-open{
    display: none;
}







@media(max-width: 768px) {
    .navbar {
        margin: 30px 40px;
    }

    .profile_logo {
        margin-left: -10px;
    }

    .nav-connect {
        display: none;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        right: 20px;
        height: 40px;
        width: 25px;
        margin-right: 10px;
    }

    .nav-mob-close {
        display: block;
        top: 20px;
        left: 10px;
        width: 25px;
        height: 40px;
        position: fixed; /* Changed to fixed for consistent positioning */
    }

    .nav-menu {
        position: fixed;
        flex-direction: column; /* Ensure items stack vertically */
        align-items: flex-start;
        top: 0; /* Start from the top */
        background-color: #1f0016;
        width: 200px; /* Adjusted width */
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -250px; /* Start hidden */
    }

    .nav-menu li {
        font-size: 20px; /* Adjusted font size */
        padding: 10px 15px; /* Reduced padding for compactness */
        margin: 0; /* Removed margin for tight stacking */
        
        display: flex; /* Ensure items are displayed as flex items */
        justify-content: flex-start; /* Align items to start */
    }

    .nav-menu li:hover {
        background-color: rgba(102, 7, 7, 0.623); /* Highlight effect */
    }
}
